<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master}">
<head>
    <title>Home Page</title>
</head>
<body>

<!-- Chèn nội dung vào phần "content" của layout -->
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            Add new group
        </div>
        <div class="card-body">
            <form th:action="@{/groups/create}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Group</button>
                <a href="#" class="btn btn-secondary" th:href="@{/groups}">Back to list</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>